---
import Section from '../Section.astro';
import { aboutMe } from '../../config/personalInfo';
---
<Section id="about" title="About Me">
  <div class="prose prose-lg">
    <p class="text-content-medium">
      {aboutMe.description}
    </p>
  </div>
</Section>