---
interface Props {
  href: string;
  icon: string;
  label: string;
}

const { href, icon, label } = Astro.props;
---
<a
  href={href}
  class="inline-flex items-center px-4 py-2 bg-primary-pale hover:bg-primary-light hover:text-white rounded-lg text-primary transition-colors"
  target="_blank"
  rel="noopener noreferrer"
>
  <span class="mr-2">{icon}</span>
  {label}
</a>